* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: black;
  min-height: 100vh;
}
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.25rem;
  font-size: 2rem;
  /* border: none; */
  background: white;
}
.content-container {
  /* border: 1px green solid; */

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.inner-container {
  /* border: 1px red solid; */
}

.todo-item {
  width: 50%;
  list-style: none;
  display: flex;
  margin-bottom: 10px;
  margin-right: 10px;
}
.todo-title {
  width: 100%;
  font-size: 1rem;
  display: flex;
}
.todo-item svg {
  width: 50%;
}
